<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Total Rounds</title>
</head>
<body>
<h1>Totals</h1>
	<div style="margin: 0 auto;">
		<ul>
		   <li><p><b>Total rounds played: </b><span th:text="${totalRoundsPlayed}"></span></p></li>
		   <li><p><b>Total Wins for first players: </b><span th:text="${totalWinsPlayer1}"></span></p></li>
		   <li><p><b>Total Wins for second players: </b><span th:text="${totalWinsPlayer2}"></span></p></li>
		   <li><p><b>Total draws: </b><span th:text="${totalDraw}"></span></p></li>
		</ul>
	</div>
</body>
</html>